page-login {

 //$text-input-highlight-color-valid: 
 
 .logo {
    margin-bottom: 30px;
    margin-top: 30px;
	background: #fff !important;
}
.desarrollo {
        font-size: 10px;
        color: #999;
        text-align: center;
    }
.boton {
	margin-top: 30px;
    }
}
