page-check {



.usuario {
    position: absolute;
    top: 35px;
    width: 100%;
    color: #4c5052;
    background: #f1f1f1;
    font-size: 12px;
    padding: 3px;
    text-align: center; 
}
.icono-posicion{
	font-size: 200px;
	padding-top: 50px;
    text-align: center; 

}

}
